<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="stripePaymentAdditionalView" type="PerspectiveTeam\JustCheckMeOut\Model\AdditionalView">
        <arguments>
            <argument name="kind" xsi:type="string">block</argument>
            <argument name="argument" xsi:type="array">
                <item name="class" xsi:type="string">PerspectiveTeam\JustCheckMeOut\Block\Stateful</item>
                <item name="template" xsi:type="string">PerspectiveTeam_JustCheckMeOutWithStripe::view.phtml</item>
            </argument>
            <argument name="data" xsi:type="array">
                <item name="optimistic" xsi:type="boolean">1</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="PerspectiveTeam\JustCheckMeOut\Service\PaymentMethodAdditionalViewRegistry">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="stripe_payments" xsi:type="object">stripePaymentAdditionalView</item>
            </argument>
        </arguments>
    </type>
</config>
