<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <neutromelabs_justcheckmeout>
            <general>
                <enable>1</enable>
                <replace_default>1</replace_default>
                <ssr>0</ssr>
                <load_alpine>0</load_alpine>
            </general>
            <component_customer_email_form>
                <skeleton>{}</skeleton>
                <can_login>0</can_login>
            </component_customer_email_form>
            <shipping_address_form>
                <address_skeleton>{}</address_skeleton>
                <book_skeleton></book_skeleton>
            </shipping_address_form>
            <component_shipping_method_list>
                <skeleton>{}</skeleton>
                <optimistic>0</optimistic>
                <deferred>0</deferred>
            </component_shipping_method_list>
            <component_payment_method_list>
                <skeleton>{}</skeleton>
                <optimistic>0</optimistic>
                <deferred>0</deferred>
            </component_payment_method_list>
            <component_items>
                <skeleton>{}</skeleton>
            </component_items>
            <component_totals>
                <skeleton>{}</skeleton>
            </component_totals>
        </neutromelabs_justcheckmeout>
    </default>
</config>
