<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Configure headless components to use this module's templates -->
    <type name="NeutromeLabs\HeadlessComponents\Service\Renderer">
        <arguments>
            <argument name="componentModule" xsi:type="string">NeutromeLabs_JustCheckMeOut</argument>
        </arguments>
    </type>

    <virtualType name="flatrateShippingMethodAdditionalView" type="NeutromeLabs\JustCheckMeOut\Model\AdditionalView">
        <arguments>
            <argument name="kind" xsi:type="string">plain_html</argument>
            <argument name="argument" xsi:type="string">Example shipping method message!</argument>
        </arguments>
    </virtualType>
    <type name="NeutromeLabs\JustCheckMeOut\Service\ShippingMethodAdditionalViewRegistry">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="flatrate_flatrate" xsi:type="object">flatrateShippingMethodAdditionalView</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="checkmoPaymentMethodAdditionalView" type="NeutromeLabs\JustCheckMeOut\Model\AdditionalView">
        <arguments>
            <argument name="kind" xsi:type="string">plain_html</argument>
            <argument name="argument" xsi:type="string">Example payment method message!</argument>
        </arguments>
    </virtualType>
    <type name="NeutromeLabs\JustCheckMeOut\Service\PaymentMethodAdditionalViewRegistry">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="checkmo" xsi:type="object">checkmoPaymentMethodAdditionalView</item>
            </argument>
        </arguments>
    </type>
</config>

