<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="PerspectiveTeam_JustCheckMeOut::checkout_controller_plugin"
                type="PerspectiveTeam\JustCheckMeOut\Plugin\CheckoutControllerPlugin"/>
    </type>

    <virtualType name="PerspectiveTeam\JustCheckMeOut\Virtual\Theme\Default"
                 type="NeutromeLabs\HeadlessComponents\Model\Theme">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="slug" xsi:type="string">default</item>
                <item name="module" xsi:type="string">PerspectiveTeam_JustCheckMeOut</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="PerspectiveTeam\JustCheckMeOut\Model\Config\Backend\ThemesAvailable">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="default" xsi:type="object">PerspectiveTeam\JustCheckMeOut\Virtual\Theme\Default</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="flatrateShippingMethodAdditionalView" type="PerspectiveTeam\JustCheckMeOut\Model\AdditionalView">
        <arguments>
            <argument name="kind" xsi:type="string">plain_html</argument>
            <argument name="argument" xsi:type="string">Example shipping method message!</argument>
        </arguments>
    </virtualType>
    <type name="PerspectiveTeam\JustCheckMeOut\Service\ShippingMethodAdditionalViewRegistry">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="flatrate_flatrate" xsi:type="object">flatrateShippingMethodAdditionalView</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="checkmoPaymentMethodAdditionalView" type="PerspectiveTeam\JustCheckMeOut\Model\AdditionalView">
        <arguments>
            <argument name="kind" xsi:type="string">plain_html</argument>
            <argument name="argument" xsi:type="string">Example payment method message!</argument>
        </arguments>
    </virtualType>
    <type name="PerspectiveTeam\JustCheckMeOut\Service\PaymentMethodAdditionalViewRegistry">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="checkmo" xsi:type="object">checkmoPaymentMethodAdditionalView</item>
            </argument>
        </arguments>
    </type>
</config>

